*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
  background-color: #111;
  color: white;
  font-family: 'halvetica',sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 60px;
}
span {
  background-color: orange;
  color: #000;
  padding: 6px;
  border-radius: 5px;
}
p{

}
main{
  min-height: 70vh;
}
.about {
  text-align: center;
  display: flex;
  margin: 0 auto;
  width: 200px;
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
  
  
}
.about a {
  text-decoration: underline;
  cursor: pointer!important;
}
.about p {
  text-decoration: underline;
  margin-top: 10px;
}
footer {
  text-align: center;
}